# Java / Maven
*.class
bin/
out/
target/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
/data/

# Tomcat (se descarga aparte: https://tomcat.apache.org/)
apache-tomcat-*/
11-Recursos/apache-tomcat-11.0.26/

# Node
node_modules/
dist/