# Java / Maven
*.class
bin/
out/
target/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
/data/

# Tomcat (deploy local de IntelliJ)
11-Recursos/apache-tomcat-11.0.26/webapps/demo_war/

# Node
node_modules/